docs/workflows/soar-grc-telegram2.json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "wazuh-alerts",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -768,
        0
      ],
      "id": "b3cf4940-5f1e-464a-b0dc-9e6aaad02926",
      "name": "SOAR - Wazuh AI Analysis",
      "webhookId": "0957e271-7c57-4baf-a731-7ce7700b961e"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://172.17.0.1:5000/api/grc/map-alert",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"rule_description\": \"{{ $('SOAR - Wazuh AI Analysis').item.json.body.alert.rule.description }}\",\n  \"rule_level\": {{ $('SOAR - Wazuh AI Analysis').item.json.body.alert.rule.level }},\n  \"agent_name\": \"{{ $('SOAR - Wazuh AI Analysis').item.json.body.alert.agent.name }}\",\n  \"mitre_id\": \"{{ $('SOAR - Wazuh AI Analysis').item.json.body.alert.rule.mitre.id || 'N/A' }}\",\n  \"mitre_tactic\": \"{{ $('SOAR - Wazuh AI Analysis').item.json.body.alert.rule.mitre.tactic || 'N/A' }}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -240,
        -224
      ],
      "id": "2d2c7b43-bd35-4037-a91d-00d166b277ad",
      "name": "GRC Compliance Mapping"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "e4da01eb-53b8-4e60-9061-04e24b64bbfc",
              "name": "report.timestamp",
              "value": "={{ $now.toISO() }}",
              "type": "string"
            },
            {
              "id": "359f7f2f-24dd-47d9-8aa4-cbaf94062e39",
              "name": "report.alert",
              "value": "={{ $('SOAR - Wazuh AI Analysis').item.json.body.alert }}",
              "type": "object"
            },
            {
              "id": "c5ab288e-7f26-4b6e-9dbd-9dcc43aa5716",
              "name": "report.ai_soc_analysis",
              "value": "={{ $('Ollama AI Analysis').item.json.response }}",
              "type": "string"
            },
            {
              "id": "47a88759-5465-41fd-9f1e-896febc7ede6",
              "name": "report.grc_compliance",
              "value": "={{ $('GRC Compliance Mapping').item.json }}",
              "type": "object"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        496,
        0
      ],
      "id": "b42da71d-4a31-4f63-803a-677d65972f00",
      "name": "Format Complete Report"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineAll",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        288,
        0
      ],
      "id": "a7d213c4-902f-45ae-89f8-21ef18a11661",
      "name": "Merge AI + GRC"
    },
    {
      "parameters": {
        "chatId": "1413634675",
        "text": "=🚨 <b>ALERTA DE SEGURIDAD</b>  📋 <b>Regla:</b> {{ $('SOAR - Wazuh AI Analysis').item.json.body.alert.rule.description }} ⚠️ <b>Nivel:</b> {{ $('SOAR - Wazuh AI Analysis').item.json.body.alert.rule.level }} 🖥️ <b>Agente:</b> {{ $('SOAR - Wazuh AI Analysis').item.json.body.alert.agent.name }}  🤖 <b>Análisis IA:</b> {{ $('Ollama AI Analysis').item.json.response.substring(0, 500) }}...  🏛️ <b>Controles ISO 27001:</b> {{ $('GRC Compliance Mapping').item.json.compliance_mapping.iso_27001.map(c => '• ' + c.id + ': ' + c.name).join('\\n') }}  📊 <b>Controles NIST:</b> {{ $('GRC Compliance Mapping').item.json.compliance_mapping.nist_800_53.map(c => '• ' + c.id + ': ' + c.name).join('\\n') }}  ⏰ {{ $now.format('yyyy-MM-dd HH:mm:ss') }}",
        "additionalFields": {
          "parse_mode": "HTML"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        704,
        0
      ],
      "id": "dfe29594-62ca-47ac-be1d-6e907b8b6335",
      "name": "Telegram Alert",
      "webhookId": "c3ffc618-8178-4535-85f7-597c9bd9e592",
      "credentials": {
        "telegramApi": {
          "id": "S6ivLZZIOqxqresO",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://soar_ollama:11434/api/embeddings",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"nomic-embed-text\",\n  \"prompt\": \"{{ $json.body.alert.rule.description }}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -496,
        0
      ],
      "id": "88c12684-396c-4f0f-b532-ab80e9106ab8",
      "name": "Generate Embedding"
    },
    {
      "parameters": {
        "jsCode": "const embedding = $('Generate Embedding').item.json.embedding;\n\nconst response = await this.helpers.httpRequest({\n  method: 'POST',\n  url: 'http://soar_qdrant:6333/collections/threat_intelligence/points/search',\n  body: {\n    vector: embedding,\n    limit: 5,\n    with_payload: true\n  },\n  json: true\n});\n\nreturn {\n  json: response\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -240,
        0
      ],
      "id": "1abcf077-eb07-41d8-ab0b-4fcf5ebf0364",
      "name": "Search RAG Qdrant"
    },
    {
      "parameters": {
        "jsCode": "// Obtener datos de la alerta\nconst alertData = $('SOAR - Wazuh AI Analysis').item.json.body.alert;\n\n// Obtener contexto RAG\nconst ragResults = $('Search RAG Qdrant').item.json.result || [];\nconst ragContext = ragResults.map(r => \n  '- ' + r.payload.title + ': ' + r.payload.content.substring(0, 300)\n).join('\\n');\n\n// Construir prompt\nconst prompt = `Eres un analista SOC experto. Analiza esta alerta usando el contexto de MITRE ATT&CK obtenido de nuestra base de conocimiento.\n\nCONTEXTO MITRE ATT&CK RELEVANTE (de RAG):\n${ragContext}\n\nALERTA:\nDescripción: ${alertData.rule?.description || 'N/A'}\nNivel: ${alertData.rule?.level || 'N/A'}\nAgente: ${alertData.agent?.name || 'N/A'}\nIP Agente: ${alertData.agent?.ip || 'N/A'}\n\nResponde en formato estructurado:\n1) SEVERIDAD: [Crítica/Alta/Media/Baja]\n2) TÉCNICA MITRE: [ID y nombre exacto del contexto RAG]\n3) DESCRIPCIÓN: [Explicación del ataque en 2-3 oraciones]\n4) INDICADORES DE COMPROMISO: [IOCs identificados]\n5) RECOMENDACIONES: [3 acciones de mitigación prioritarias]`;\n\n// Llamar a Ollama\nconst response = await this.helpers.httpRequest({\n  method: 'POST',\n  url: 'http://soar_ollama:11434/api/generate',\n  body: {\n    model: 'llama3.2:3b',\n    prompt: prompt,\n    stream: false\n  },\n  json: true\n});\n\nreturn {\n  json: {\n    response: response.response,\n    rag_techniques_used: ragResults.map(r => r.payload.title)\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        16,
        0
      ],
      "id": "6eb15900-f5dc-4a3e-89e6-5ca06df9159f",
      "name": "Ollama AI Analysis"
    }
  ],
  "pinData": {
    "SOAR - Wazuh AI Analysis": [
      {
        "json": {
          "headers": {
            "host": "localhost:5678",
            "user-agent": "curl/8.14.1",
            "accept": "*/*",
            "content-type": "application/json",
            "content-length": "353"
          },
          "params": {},
          "query": {},
          "body": {
            "alert": {
              "rule": {
                "id": "5710",
                "level": 10,
                "description": "sshd: Attempt to login using a non-existent user"
              },
              "agent": {
                "name": "test-agent",
                "ip": "192.168.1.100"
              },
              "source": {
                "ip": "10.0.0.50"
              },
              "timestamp": "2026-01-05T04:30:00.000Z"
            }
          },
          "webhookUrl": "http://n8n:5678/webhook-test/wazuh-alerts",
          "executionMode": "test"
        }
      }
    ]
  },
  "connections": {
    "SOAR - Wazuh AI Analysis": {
      "main": [
        [
          {
            "node": "GRC Compliance Mapping",
            "type": "main",
            "index": 0
          },
          {
            "node": "Generate Embedding",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GRC Compliance Mapping": {
      "main": [
        [
          {
            "node": "Merge AI + GRC",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge AI + GRC": {
      "main": [
        [
          {
            "node": "Format Complete Report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Complete Report": {
      "main": [
        [
          {
            "node": "Telegram Alert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Embedding": {
      "main": [
        [
          {
            "node": "Search RAG Qdrant",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search RAG Qdrant": {
      "main": [
        [
          {
            "node": "Ollama AI Analysis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ollama AI Analysis": {
      "main": [
        [
          {
            "node": "Merge AI + GRC",
            "type": "main",
            "index": 1
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "852c4ed1-09db-4f28-890a-bbfdd0bfeceb",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "22c4cb887d84fb139a7db07d16871e2472915c6a1e514967b2aa41f26aa86452"
  },
  "id": "L5KLDEzJYSihjaBe",
  "tags": []
}